@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
    background-image: url("https://images.squarespace-cdn.com/content/v1/5c0abe5efcf7fd9e2db683ee/1586352753852-70PBJ610HNCAGMH9H07R/GreenBackground.jpg?format=1500w");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Righteous', cursive;
    color: black;
}


.navbar {
    background-color: black;
    font-size: 20px;

}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: greenyellow;

}

.active {
    color: greenyellow;

}

.bg-1{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-weight: bold;
    color: black;
    background-image: url("images/texture.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

}

.card-body {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}


.bg-2 {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    text-align: center;
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bold;
    font-style: italic;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.bg-2-inner {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 3px solid black;
}

.pfp {
    height: 350px;
    background: url("https://images.squarespace-cdn.com/content/v1/5c0abe5efcf7fd9e2db683ee/1586352753852-70PBJ610HNCAGMH9H07R/GreenBackground.jpg?format=1500w") no-repeat;
    border: 2px solid black;
    transition: all 0.75s;
    
}

.pfp:hover {
    -webkit-box-shadow: 1px 5px 8px 12px #000000; 
    box-shadow: 1px 5px 8px 12px #000000;
    background: url("https://media.istockphoto.com/vectors/abstract-black-stripes-diagonal-background-vector-id1294603953?k=20&m=1294603953&s=612x612&w=0&h=KLAV73oMUFA2ucWMMTOdXT8Vn4LVUsh6NTiXRmlX5ZA=") no-repeat;
    height: 375px;
    cursor: pointer;
    
    
}

.bg-2 i {
    font-size: 100px;
    transition: 0.3s;
}

.bg-2 i:hover {
    color: rgb(70, 69, 69);
}

.tecnologies {
    padding-top: 30px;
    padding-bottom: 30px;
}

.tecnologies a {
    text-decoration: none;
    color: white;

}

.bg-3 {

    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    /*background-color: rgba(0,0,0,0.7);*/
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.list-group{
    list-style: none;
}

.bg-4 {
    text-align:center;
    padding-top: 30px;
    background-color: black;
    color: white;
    padding-bottom: 30px;


}

.btn {
    padding: 10px 20px;
    background-color: darkgreen;
    color:white;
    transition: all .2s ease-in-out;
}

.btn:hover {
    border: 1px solid #333;
    background-color: white;
    color: #000;
}

.btn-outline {
    height: 50px;
    width: 50px;
    color: white;
    line-height: 45px;
    border: solid 2px white;
    border-radius: 100%;
    display: inline-block;
    transition: all 0.3s ease-in-out;

}
.btn-outline:hover {
    color: black;
    background: white;
}

.card {
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    opacity: 0.5;
    background-color: black
}

.owl-carousel a{
    text-decoration: none;
}

.bg-5 {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.5);


}

.card {
    opacity: 0.7;
}


.initialbutton {
    border-radius: 50px;
}


@media all and (max-width: 575px){
    .touchbutton {
        display: none;
    }

}
